body {
    font-family: cursive;
    background-color: #FFF;
}

figure {
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
}

figure>img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

h1, .dist{
    display: inline-block;
    width: 49%;
}

h1 {
    color: ##964b00;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
}

p{
    font-size: 12pt;
    text-align: justify;
}

.dist>img {
    vertical-align: middle;
}

.dist {
    text-align: right;
}

.estrelas img {
    width: 100px;
}

figcaption {
    padding: 10px;
}

.horario *{
    display: inline-block;
    width: 65px;
    line-height: 30px;
}

.clock {
    display: inline-block;
    width: 30px;
    margin: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.horario {
    display: inline-block;
    vertical-align: middle;
}

.reserva {
    text-align: center;
    font-size: 20pt;
    color: ##964b00;
    padding-top: 5px;
}

.dias {
    text-align: center;
}