body {
    background-color: rgba(190, 220, 245, 0.616);
    margin: 0px;
}

header {
    background-color: rgb(122, 248, 170);
    color: white;
    height: 50px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
}

h1 {
    margin: 0px;
}

p {
    text-align: center;
}

#principal {
    width: 800px;
    margin: auto;
}

figure {
    background-color: rgba(231, 253, 181, 0.589);
    width: 300px;
    margin: 15px auto;
    border: 2px solid rgba(0, 0, 0, 0.274);
    padding: 10px;
}

figure img {
    width: 300px;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding: 5px;
}

footer {
    background-color: rgb(122, 248, 170);
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
}